ALLOW_DEV_FALLBACKS=
CLAMAV_HOST=
CLAMAV_PORT=
CLAMAV_TIMEOUT_MS=
DATABASE_URL=
GCP_PROJECT_ID=
GCS_PRIVATE_BUCKET=
INITIAL_ADMIN_PASSWORD=
INITIAL_STAFF_PASSWORD=
JWT_SECRET=
PG_SSL_ALLOW_INSECURE=
PORT=3000
REDIS_URL=
SUPABASE_ANON_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=